# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/App/node_modules
/node-postgres/node_modules
/App/.pnp
/App/.pnp.js

# testing
/App/coverage

# production
/App/build

# misc
/App/.DS_Store
/App/.env.local
/App/.env.development.local
/App/.env.test.local
/App/.env.production.local

/App/npm-debug.log*
/App/yarn-debug.log*
/App/yarn-error.log*
